# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
tmp
.tmp

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/
local/

# Go workspace file
go.work
go.work.sum

# env file
.env

# IDE and code editors
.idea
.cursorrules
.vscode

# platform specific
.DS_Store
